<nav class="navbar navbar-expand-lg">
    <div id="navbarItem">
        <a class="nav-item nav-link DashBoardHeadTag" href="#">AdminDashboard</a>
        <form asp-controller="Home" asp-action="Logout" method="post">
            <button class="btn customBtnSecondary LogOutBtn">LogOut</button>
        </form>
    </div>
</nav>


<div class="dashboard-container">
    <div class="header">
        <h1>Dashboard</h1>
    </div>
    <div class="row">
        <div class="col-2">
            <!-- Stats Cards -->
            <div class="row">
                <div class="card stat-card">
                    <h2 class="stat-value">999</h2>
                    <p class="stat-label">Total Users</p>
                    <div class="icon-bg icon-green">
                        <i class="bi bi-bar-chart"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card stat-card">
                    <h2 class="stat-value">777</h2>
                    <p class="stat-label">Total IssuedBooks</p>
                    <div class="icon-bg icon-purple">
                        <i class="bi bi-cart"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card stat-card">
                    <h2 class="stat-value">₹111</h2>
                    <p class="stat-label">Available Books</p>
                    <div class="icon-bg icon-blue">
                        <i class="bi bi-receipt"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card stat-card">
                    <h2 class="stat-value">111</h2>
                    <p class="stat-label">Total Number of Books</p>
                    <div class="icon-bg icon-red">
                        <i class="bi bi-book"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <style>
        .Layout {
            background-color: white !important;
            display: block;
        }
    </style>