@model BookManagement.ViewModels.UserViewModel
@{
    var AllredayExist = TempData["AllredayExist"] as string;
}
<div class="SignUpForm">
    <div class="container">
        <span class="HeadText">Registration of new User</span>
        <form method="post" asp-action="SignUp" asp-controller="Home">
            <!-- Email input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <input type="email" asp-for="Email" class="form-control" placeholder="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div data-mdb-input-init class="form-outline mb-4">
                <input type="text" asp-for="UserName" class="form-control" placeholder="UserName" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <!-- Password input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <input type="password" asp-for="Password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="d-flex justify-content-between">
                <!-- Submit button -->
                <button type="submit" data-mdb-button-init data-mdb-ripple-init
                    class="btn customBtnPrimary btn-block mb-4">Sign
                    up</button>
                <a href="@Url.Action("Index", "Home")" class="text-decoration-none new-user-link">LogIn?</a>

            </div>

        </form>



    </div>
</div>


@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

@if (!string.IsNullOrEmpty(AllredayExist))
{
    <script>
        toastr.error('@AllredayExist');  // Show success message using Toastr
    </script>
}